streamlit
matplotlib
seaborn
pandas
gradio
langchain
openai
sqlalchemy
psycopg2
faiss-cpu
python-dotenv
sentence-transformers
flask
asyncpg
requests
pandas
numpy
scikit-learn
tqdm
pyyaml
fastapi
pgvector
google-cloud-storage
unstructured
mysql-connector-python
google-cloud-aiplatform
langchain-google-vertexai
langchain-google-cloud-sql-pg
langchain_core
langchain_google_genai
langgraph
langgraph.agents
rouge-score
torch
transformers